body {
    background-image: url("https://static.wixstatic.com/media/00258e_11d1fcbdf3594142ab7c9421695b34aa.jpg/v1/fill/w_940,h_450,al_c,q_85,usm_0.66_1.00_0.01/00258e_11d1fcbdf3594142ab7c9421695b34aa.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.stire {
    /* color: white; */
}