body {
    background-image: url("https://cdn.locomotive.works/sites/5ab130be74c4833febe6b45a/content_entry5aba37b374c4837dc15d1b5c/5aba382da2f4220ae645ce15/files/ghana-village-experience-min.jpg?1552714680");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.stire {
    color: white;
}

.jumbotron {
    color: rgb(10, 78, 10);
}